@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #141414;
    --text-color: #E06641;
    --white: white;
}

/* General styles for the navigation bar */
body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--white);
}

nav {
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
nav .logo h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

/* Menu (nav links) */
nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Nav links */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Active link color */
nav ul li a.active {
    background-color: white;
    color: black;
    border-radius: 10px;
}

/* Hover effect for links */
nav ul li a:hover {
    color: rgba(177, 177, 177, 0.8);
}


/* Section styling */
.section {
    height: 100vh;
    padding: 10px 50px;
    margin-top: 64px;
}

h1 {
    margin-bottom: 20px;
}
#checkbox{
    display: none;
}
nav .menu-icon {
    display: block;
    font-size: 2rem;
    color: white;
}

/* Close icon */
nav .close-icon {
    display: none;
    font-size: 2rem;
    color: white;
}
.icons{
    display:none;
}

/* Responsive Styling */
@media screen and (max-width: 920px) {
    .icons{
        display: flex;
    }

    #close-icon{
        display: none;
    }

    /* unshow menu icon */
    #checkbox:checked~.icons #menu-icon {
        display: none;
    }
    /* show close icon */
    #checkbox:checked~.icons #close-icon {
        display: block;
    }
    #checkbox:checked~.menu{
        display: flex;
    }
    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 1rem;
        gap: 2rem;
        text-align: center;
    }

   
    /* Sections with background color */
    #home {
        background-color: lightcoral;
    }

    #about {
        background-color: lightblue;
    }

    #services {
        background-color: lightgreen;
    }

    #portfolio {
        background-color: lightgrey;
    }

    #contact {
        background-color: lightyellow;
    }
}
